# 忽略AR版本
new-ai-handwash-AR
nginx-update.conf
# Python virtual env
ai-handwash-assist-server-main/venv39/
ai-handwash-assist-server-main/*.egg-info/
ai-handwash-assist-server-main/__pycache__/
ai-handwash-assist-server-main/*.pycai-handwash-assist-server-main/venv39/
