[Unit]
Description=service for handwash, it should be changed the privelige and copy to the directory before it can be used
After=network.target
[Service]
Type=simple
Restart=always
User=root
ExecStart=/home/hhyg/miniconda3/envs/new-ai-handwash/bin/python /home/hhyg/new-ai-handwash-server/kaggle_get_one_prediction.py -c /home/hhyg/new-ai-handwash-server/config/st_gcn/handwash/inference.yaml
[Install]
WantedBy=multi-user.target