@font-face {
  font-family: "Helvetica85";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/Helvetica85-Heavy.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "SourceHanSansCN";
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  src: local(""), url("../fonts/SourceHanSansCN-Regular.otf") format("truetype"); /* Safari, Android, iOS */
}
