# @NAMESPACE:registry=https://npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/:_authToken=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
@xerosumio:registry=https://npm.pkg.github.com
